* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Georgia", serif;
}

body {
    background: #e5d4d8;
}

/* NAVBAR */
.navbar {
    width: 100%;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(124, 87, 87);
    color: #fff;
}

.navbar nav a {
    margin: 0 15px;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}

.nav-icons .icon {
    margin-left: 10px;
    font-size: 18px;
    cursor: pointer;
}

/* HERO SECTION */
.hero {
    width: 100%;
    height: 520px;
    background-image: url('https://cdn.pixabay.com/photo/2021/05/27/02/07/gamestop-6286877_640.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero-overlay {
    padding: 80px;
    color: white;
}

.small-text {
    max-width: 450px;
    font-size: 14px;
}

.hero-title {
    font-size: 80px;
    margin-top: 20px;
    font-weight: bold;
}

.hero-title span {
    color: #f2f2f2;
}

/* Appointment Box */
.appointment-box {
    margin-top: 30px;
    display: flex;
    width: 60%;
    background: white;
    border-radius: 50px;
    overflow: hidden;
    position: relative;
    align-items: center;
}

.appointment-box input {
    flex: 1;
    padding: 15px 20px;
    border: none;
    outline: none;
}

.appointment-box button {
    padding: 15px 30px;
    background: #00316E;
    color: white;
    border: none;
    cursor: pointer;
}

/* MEMBERSHIP SECTION */
.membership {
    padding: 60px;
    background: rgba(158, 151, 151, 0.384);
}

.section-number {
    color: #888;
    font-size: 14px;
}

.membership-title {
    font-size: 40px;
    margin-top: 10px;
}

.membership-title span {
    font-style: italic;
    font-weight: bold;
}

.membership-subtext {
    margin-top: 10px;
    color: #444;
}

.member-row {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.join-btn {
    background: #000;
    color: #fff;
    padding: 12px 20px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}

/* CARDS */
.card-container {
    margin-top: 40px;
    display: flex;
    gap: 20px;
}

.card {
    flex: 1;
    padding: 30px;
    border-radius: 10px;
}

.card h1 {
    font-size: 60px;
}

.card-orange {
    background: #F56147;
    color: white;
}

.card-purple {
    background: #b198c4;
    color: #000;
}
.container{
    display: flex;
    background-color: rgb(192, 23, 88);
}

.container div{
    background-color: aqua;
    color: #D9A6FF;
    width: 200px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-size: 30px;
}
   

.hoverImg:hover {
  opacity: 0. 20;
  transform: scale(1.1);
}

.my-btn{
    padding: 12px;
    background: #00316E;
    color: #f2f2f2;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;

}

/* hover effect */
.my-btn:hover{
    background-color: #F56147;
    transform: scale(1.05);

}

/* change color on hover */
ul.topnav li a:hover {
    background-color: #F56147;
    color: #fff;
}
.arrow-right
{
    position: absolute;
    right: 10px;
}


  